* {
    font-family: "montserrat",sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

}
.container .card-one{
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #a8f0f0;
    width: 100%;
    color: #313131;
    
}

.container .card-one .profile {
    display: inline-flex;
    margin-bottom: 10px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    border: 5px solid #2c2b29;
    background-image: url("popo.png");
}

.container .card-one .contact-crott {
    margin-top: 10px;

}
.container .card-one .contact-crott>*  {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 25px;
    align-items: center;
}
.container .card-one .contact-crott>* .text {
    display: inline-flex;
    word-break: break-all;

}
.container .card-one .personal-crott {
    margin-top: 35px;

}
.container .card-one .personal-crott .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    margin-left: 4px;


}

.container .card-one .personal-crott .dot.active{
    background-color: greenyellow;
}



.container .card-one .Hobbi-crott{
    margin-top: 35px;

}
.container .card-one .Hobbi-crott .logo {
    margin: 10px 0px;
    display: grid ;
    grid-template: 1fr 1fr/1fr 1fr ;
    font-size: 2.8em;
    grid-row-gap: 15px;
}
.container .card-two {
    background-color: rgb(60, 14, 97);
    padding: 40px 20px;
    padding-right: 75px;
    color: #a8f0f0;
    
}
.container .card-two .head-tittle {
    font-size: 2.1em;
    color: #a8f0f0;
    font-weight: 400;
}

.container .card-two .box {
    display: inline-block;
    padding: 2px 30px 2px 20px;
    margin-left: -20x;
    margin-top: 20px;
    background-color: gold;
    color: #320736;

}
.container .card-two .ngampus{
    margin-top: 20px;
}
.container .card-two .ngampus .ngampus77{
    display: inline-block;
    padding: 2px 50px 2px 20px;
    background-color: gold;
    color: #3d186d;
}

.container .card-two .kerjaan{
    margin-top: 20px;
}

.container .card-two .kerjaan .gawean{
    display: inline-block;
    padding: 2px 50px 2px 20px;
    background-color: gold;
    color: #300668;
}
